@model SearchEngine.Models.SearchCriteria

@{
    ViewBag.Title = "Search Engine";
    var scopeList = new List<string>() { "Web"};
}

    <h2>Search</h2>
    <fieldset>
        <legend>Criteria</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SearchString)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SearchString)
            @Html.DropDownListFor(model => model.SearchScope, new SelectList(scopeList))
        </div>
        <p>
            <input type="submit" id="btnSubmit" value="Search" />
        </p>
    </fieldset>

    <table id="resultsView" class="display" cellspacing="0" width="100%"></table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")

    <script language="javascript" type="text/javascript">
        var performSearchURL = '@Url.Action("PerformSearchResults", "Home")';
    </script>
}
